img {
  width: 30%;
  margin: calc(10% / 6.42);
}

nav {
  border-bottom: 2px solid #f1f1f1;
  width: 30%;
  margin-left: calc(10% / 6.42);
  padding: 1em 0;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 1.5em;
}
